:root {
  --chromeyellow: #faa916;
  --mybrown: #644536;
  --sodapeach: #f95738;
  --lightblue: #92bda3;
  --olive: #a1ba89;
  --pink: #fbddd7;
  --flax: #e3d87e;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f6f6f6;
}

input {
  height: 20px;
  padding: 5px;
  color: black !important;
}

input:focus:invalid {
  background-color: #fff;
}

input:invalid {
  background-color: var(--pink);
}

.error-message {
  font-size: 1.2rem;
  padding-left: 40px;
}

.error {
  background-color: #900;
  color: #fff;
  width: 100%;
  padding: 3px;
}

.header {
  min-height: 120px;
  display: flex;
  background-color: #071046;
  align-items: center;
  justify-content: center;
}

.header h1 {
  width: 600px;
  color: #fff;
  font-size: 3rem;
  padding: 20px;
  text-align: center;
}

.form-header {
  padding: 10px;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
}

.library-list,
.table-header {
  display: flex;
  justify-content: center;
}

.table-header {
  height: 70px;
  padding-top: 20px;
}

.table-header > * {
}
.book-row {
  border: 1px solid #0f1f2e;
  background-color: #f0eae9;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
  display: flex;
  min-width: 650px;
  margin-bottom: 5px;
}

.book-row > * {
  flex: 1;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.book-detail {
  flex: 2;
}

#new-book-form {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

#new-book-form > * {
  padding-right: 5px;
  color: rgb(0, 0, 0);
}

input[type='number'] {
  width: 50px;
}

#new-book-form input[type='submit'] {
  color: #0f1f2e;
}

.end-cell {
  min-width: 120px;
}

input {
  padding: 3px;
}
